/* common shared styles  */
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}
.primary {
  color: rgba(253, 110, 10, 1);
}
.btn-primary {
  padding: 15px 35px;
  background-color: rgba(253, 110, 10, 1);
  border: none;
  color: white;
  font-weight: 700;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
}
.section-title {
  color: var(--dark-01, #181818);
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}
.section-description {
  color: #757575;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

/* nav related styles  */
nav {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: space-around;
}
.nav-title {
  color: #181818;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
nav > ul {
  display: flex;
  list-style: none;
  align-items: center;
}
nav li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  margin-right: 50px;
}

/* header related styles  */
.header {
  background-color: rgba(255, 248, 243, 1);
  background-image: url(images/header_bg.png), url(images/developer.png);

  background-repeat: no-repeat;
  background-position: bottom right, top left;
}
.banner {
  display: flex;
  padding: 30px 30px 0px 150px;
  align-items: center;
  justify-content: space-between;
}
.banner-content {
  max-width: 600px;
}
.banner-img {
  width: 700px;
  height: 600px;
}
.banner-greeting {
  font-size: 30px;
  font-weight: 600px;
}
.banner-title {
  font-size: 55px;
  font-weight: 700;
  margin-top: -35px;
  margin-bottom: 20px;
}

/* main style  */
main {
  max-width: 1140px;
  margin: 0 auto;
}
main section{
  margin-top: 130px;
}

/* about section style  */
.about {
  background-color: rgba(255, 248, 243, 1);
  border-radius: 10px;
  text-align: center;
  padding: 130px;
  margin: 130px 0;
}
.about-info-container {
  display: flex;
  justify-content: space-around;
}
.info-title {
  margin-bottom: -5px;
}
#experience-des {
  padding: 30px 150px;
}

/* what i do related styles  */
.skills-container {
  display: flex;
  justify-content: center;
}
.skill-card {
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  margin-right: 25px;
  padding: 30px;
}

/* resume related styles  */
.resume-container{
  display: flex;
  gap: 24px;
padding: 20px;
  
}
.resume-title{
  color:  #474747;
font-size: 20px;
font-weight: 700;
}
.resume-item-title{
  color:#757575;
font-size: 20px;
font-weight: 600;
margin-bottom: -16px;
}
.resume-info{
  color:  #757575;
font-size: 17px;
font-weight: 600;
}
.download-cv{
  text-align: center;
  margin-top: 50px;
}
footer{
  background-color: rgba(255, 248, 243, 1);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 130px;
  gap: 100px;
  margin-top: 130px;
}
.social-connect input {
  padding: 10px 30px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
}
.social-connect textarea{
  margin-top: 10px;
  border: none;
  padding: 10px 30px;
}